.header{
    height: 64px;
}
.logo{
    width: 80px;
    height: 80px;
    display: inline-block;
}
.middle{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 1;
    padding: 0 16px;
    background-color: white;
    border-bottom: 0.4px solid rgb(242, 240, 240);
}

.OneLine{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 1;
    gap: 8px;
}
.icon{
 width: 24px;
 height: 24px;
}
.user{
    display: flex;
    gap: 15px;
}
.userImg{
    background: linear-gradient(rgb(210, 218, 218),rgb(210, 218, 218)) padding-box,
                linear-gradient(to right,rgb(174, 164, 146),rgb(130, 103, 103)) border-box;
    border:1px solid transparent;
    padding: 1px;
    border-radius: 50%;
    width: 27px;
    height: 27px;
    margin-right: 1.2rem;
}